.navbar-brand{
    font-family: 'Rajdhani', sans-serif;
    padding-left: 2em ;
}
.carousel-item img {
    height: 500px;
    object-fit: cover;
    object-position: top;
}

#img-auto-sf25 {
    object-position: center;
}

.brand-color {
    color: #22967A; /* Aston Martin verde */
}

.bg-brand {
    background-color: #00443F; /* Aston Martin verde oscuro */
}

.hero-banner {
    background-image: url('https://cdn-5.motorsport.com/images/mgl/0rGRlkm2/s8/aston-martin-logo-2022-1.jpg'); /* Foto de logo */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}

#textamr24 {
    text-align: right;
    padding: 1rem;
    z-index: 1;
}

#amr24box {
    position: relative;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.amr24-image {
    width: 100%;
    object-fit: cover;
    display: block;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

footer {
    background-color: #212529;
    color: #fff;
    padding: 3rem 0;
}

.social-icons a {
    font-size: 1.25rem;
}